DJANGO_ENV=development

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_NAME=ncd_platform
DATABASE_USER=ncd_platform
DATABASE_PASSWORD=change-me
DATABASE_HOST=localhost
DATABASE_PORT=5432

REDIS_URL=redis://localhost:6379/0

